$textColor: #525252;


.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: $textColor;
  margin-bottom: 50px;

  a {
    text-decoration: none;
    margin: 5px 15px;
    padding: 8px;

    &:visited {
      color: $textColor;
    }
  }

  .home-link {
    font-size: 40px;
    font-weight: 300;
    padding: 20px;
    margin: 15px 0;
  }

  .navigation-links {

    .regular-menu {
      display: none;
    }

    .hamburger-menu-button {
      cursor: pointer;

      .hamburger-bar {
          width: 30px;
          height: 3px;
          background-color: $textColor;
          margin: 4px 0;
      }
    }
  }
}